{
  "app": {
    "guid": "d2f4ebe9-2ac4-4bea-a5a7-03bcde910956"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true,
    "metadataSecurity": null,
    "entitiesSecurity": null
  },
  "security": {
    "token": "MGY0ZjUzODYtNDMwYS00MDEyLWE2M2QtMzEyZTNjMDVhMzFl",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}